<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
    <script src="https://kit.fontawesome.com/42e0e8b23e.js" crossorigin="anonymous"></script>
</head>
<body class="flex flex-col justify-between space-y-10 font-thin container bg-gray-100">
    <!-- Navigation bar -->
    <Nav class="relative container bg-danger mx-auto p-4" >
        <div class="flex items-center justify-between">
            <!-- menu -->
            <div class="md:hidden">
                menu
            </div>
            <!-- logo -->
            <div class="p-2 text-xl">
                DI Labs
            </div>
            <div class="hidden md:flex space-x-6 font-medium">
                <a href="" class="text-green-600 md:text-lg">Book</a>
                <a href="" class="text-green-600 md:text-lg">About</a>
                <a href="" class="text-green-600 md:text-lg">Support</a>
            </div>
            <!-- button -->
            <div
            class="">  
                <a href="/login" class="bg-transparent text-red-700 md:text-lg p-3 ml-0 rounded-l-full px-3">
                    Log In
                </a>
                <a href="/signup" class="btn btn-danger ml-0 px-3 p-2">Sign Up</a>
            </div>
            
        </div>
    </Nav>