<%- include('partials/header') -%> 
<div class="container m-auto flex flex-col space-y-3 ">
    <h1 class="font-bold text-center w-full">
        About section
    </h1>
    
    <p class="p-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, officiis suscipit? Temporibus vero, accusamus quibusdam aliquam ratione quo esse reprehenderit expedita! Ipsum tenetur illum facere repellendus eveniet suscipit adipisci nobis.
    </p>
</div>
<%- include('partials/footer') -%> 