<%- include('partials/header') -%> 
<div class="container m-auto flex flex-col space-y-3 md:space-y-6">
    <div class="flex flex-col space-y-3 m-auto md:p-5">
        <h1 class="text-lg px-5 mt-5 font-bold text-medium text-green-600 text-center md:text-4xl font-serif">
            Computer booking and access management
        </h1>
        <p class="font-semibold text-2xl md:text-5xl font-serif text-center p-5">
            No more paper application and prolonged bureaucracy, book a pc from any where
        </p>
    </div>
    <div class="bg-green-100 p-5 shadow">
        <h1 class="font-bold text-center p-5">
            About Data Idea
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, aspernatur et ex nesciunt reprehenderit quas molestiae ratione. Laudantium nam iure accusantium consequatur sapiente sed cupiditate numquam cum eius tenetur reprehenderit odio adipisci, non quod voluptate nostrum asperiores impedit, assumenda tempora quisquam blanditiis iusto recusandae? Magni tempore ipsam, neque praesentium repellat quisquam aliquam quasi quo odio dolorum. Nostrum mollitia possimus culpa ea? Eligendi quia excepturi corporis sed est minus suscipit incidunt veritatis odio facere. Excepturi possimus, natus sed culpa magnam vero aperiam perferendis non eos, fugiat dicta quam a, sunt officiis quae dolorem eum velit. Cumque quaerat deserunt reiciendis quam assumenda.</p>
    </div>
    <div class="bg-gray-100 p-5 shadow">
        <h1 class="font-bold text-center p-5">
            The Data Idea Team
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, aspernatur et ex nesciunt reprehenderit quas molestiae ratione. Laudantium nam iure accusantium consequatur sapiente sed cupiditate numquam cum eius tenetur reprehenderit odio adipisci, non quod voluptate nostrum asperiores impedit, assumenda tempora quisquam blanditiis iusto recusandae? Magni tempore ipsam, neque praesentium repellat quisquam aliquam quasi quo odio dolorum. Nostrum mollitia possimus culpa ea? Eligendi quia excepturi corporis sed est minus suscipit incidunt veritatis odio facere. Excepturi possimus, natus sed culpa magnam vero aperiam perferendis non eos, fugiat dicta quam a, sunt officiis quae dolorem eum velit. Cumque quaerat deserunt reiciendis quam assumenda.</p>
    </div>
    
</div>
<%- include('partials/footer') -%> 