<%- include('partials/header') -%> 
<div>
    <div class="flex flex-col space-y-3 m-auto md:p-5">
        <h1 class="text-lg px-5 mt-5 font-bold text-medium text-green-600 text-center md:text-4xl font-serif">
            Computer booking and access management
        </h1>
        <p class="font-semibold text-2xl md:text-5xl font-serif text-center p-5">
            No more paper application and prolonged bureaucracy, book a pc from any where
        </p>
    </div>
    <div class="container mx-auto flex flex-col md:flex-row mt-6 
            w-3/4 border border-green-600 rounded-md justify-center 
            align-middle shadow-lg">
    <div class="bg-green-600 md:w-1/2 p-6 md:min-h-ma md:flex md:flex-col">
        <h1 class="font-bold text-white md: text-3xl ">
            <span class="font-thin">Book a,</span> 
            <span class = "font-medium">PC</span> 
        </h1>
        <div>
            <!-- <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-person text-white w-full justify-center align-middle hidden md:block" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg> -->
        </div>
    </div>
    <div class="md:w-1/2 p-6">
        <form action="submit"
            class="flex flex-col space-y-6 booking-form"
        >
            <label for="email">
                <span
                class="block font-bold text-green-600"
                >Confirm your email</span>
                <input type="email" name="email"
                    required
                    class="border w-full rounded-md p-2 booking-email"
                >
                <div class="error-container"></div>               
            </label>
            <button class="btn btn-success">Book me one</button>
        </form>
        </div>
    </div>
    <div class="p-5">
        <h1 class="md:text-lg text-center text-gray-100 text">
            Terms and conditions apply
            <a href="/#instructions" class="text-green-600">readmore</a>
        </h1>
    </div>
</div>

<script>
    const form = document.querySelector('.booking-form')

    const handleErrors = (error_object) => {
        let error_message = ''

        if(error_object.name !== ''){
            error_message = error_object.name
        }

        if(error_object.na !== ''){
            error_message = error_object.na
        }

        if(error_object.user_status !== ''){
            error_message = error_object.user_status
        }

        return error_message

    }
    

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const email_input = document.querySelector('.booking-email')
        const error_container = document.querySelector('.error-container')
        const email = email_input.value

        try{
            const res = await fetch('/computer/book', {
            method: 'POST',
            body: JSON.stringify({email: email}),
            headers: {'content-Type': 'application/json'}
        })

        const data = await res.json()
        
        if(data.computer_errors){
            const error_message = handleErrors(data.computer_errors)
            
            error_container.innerHTML = `<p class = "alert ">${error_message}</p>`

            setTimeout(() => {
                error_container.innerHTML = ``
            }, 3000);
        }

        }
        catch(err){
            //console.log(error_container.innerHTML)
        }
        

    })
</script>
<%- include('partials/footer') -%>