<%- include('partials/header') -%> 
<div>
    <form action="">
        <label for="start-date">
            <input type="datetime-local" name="" id="">
        </label>
    </form>
</div>
<%- include('partials/footer') -%>